.excursionesDisponibles {
    width: 100%;
    .subtitulo {
        width: 100%;
        height: 5rem;
        display: flex ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #ffffff;
        background-image: $azulado
    }

    .cards {
        width: 100%;
        height: 20rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid rgb(255, 255, 255);
        background-image: linear-gradient(to right, #213aa1 , #2557b6, #1177e5);
        
        a{
            overflow: hidden;
            width: 20%;

            img{
                max-width:100%;
            }
        }
    }
    
}

@media  screen and (max-width:648px) {
    .excursionesDisponibles {
        .cards{
        flex-direction: column;
        align-content: space-evenly;
        align-items: center;
        height: 100vh;

        a{
            overflow: hidden;
            width: 100%;

            img{
                max-width:100%;
            }
        }

        }
    }
}
