/*inicio para que no quede espacios en la pagina*/
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

/*comienzo parallax imagen/video principal*/
.parallax {
    max-width: 100%;

    background-image: url("../assets/img/colaBallena.jpg");

    height: 400px;

    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}
/*fin parallax imagen principal*/

/*inicio fotos excursiones*/
.excursionesDisponibles {
    width: 100%;
}

.excursionesDisponibles .subtitulo {
    width: 100%;
    height: 5rem;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    background-image: linear-gradient(to right, #213aa1 , #2557b6, #1177e5);

}

.excursionesDisponibles .cards {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    background-image: linear-gradient(to right, #213aa1 , #2557b6, #1177e5);
}

.excursionesDisponibles .cards a{
    overflow: hidden;
    width: 20%;
}

.excursionesDisponibles .cards a img{
    max-width:100%;
}

@media  screen and (max-width:648px) {
    .excursionesDisponibles .cards{
        flex-direction: column;
        align-content: space-evenly;
        align-items: center;
        height: 100vh;
    }

    .excursionesDisponibles .cards a{
        overflow: hidden;
        width: 100%;
    }

    .excursionesDisponibles .cards a img{
        max-width:100%;
    }
}

/*fin fotos excursiones */

/*inicio footer*/
footer{
    border: 1px solid rgb(255, 255, 255);
    background-image: linear-gradient(to right, #213aa1 , #2557b6, #1177e5);
    display: flex;
    height: 5rem;
    display: flex;
    flex-direction: row;
}

footer {
    display: flex;
    align-items: center;
    font-size: medium;
    font-weight: bold;
}
/*fin footer*/
.fondo {
    background-image: linear-gradient(to right, #213aa1 , #2557b6, #1177e5);
}

form{
    color: white;
}

.caja{
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    height: 80%;
    width: 80%;
    justify-content: center;
}