/*inicio para que no quede espacios en la pagina*/
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

/*fin para que no quede espacios en la pagina*/

.grid-contenedor-padre {
    display: grid;
    grid-template-areas:
        "navbackgroud "
        "parallax"
        "intro"
        "cards"
        "footer";
        width: 100%;
        height: 100%;
}

/*inicio header

/*inicio barra de navegacion*/

.navBackground {
    grid-area: navbackgroud;
	background-image: linear-gradient(to right, #213aa1 , #2557b6, #1177e5);

    top: 0 px;
    width: 100%;

    display:grid;
        grid-template-columns: 1fr 3fr; 
        grid-template-rows: 50px;
        align-items: center;
    border: 1px solid #ffffff;
}

@media  screen and (max-width:648px) {
    .navBackground {
        display: flex;
        flex-direction: column;
    }  
}

.navBackground .titulo {
    margin: 5%;
    width: 100%;
    font-weight:bold;
    font-family:'Open Sans';
    text-align: center;
    font-size:25px;
    background-image: linear-gradient(to right, #213aa1 , #2557b6, #1177e5);
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
}


@media  screen and (max-width:648px) {
    .nav{
        display: flex;
        flex-direction: column;
    }
}


a:link, a:visited, a:active {
    text-decoration:none;
};

ul {
    list-style: none;
    text-decoration:none;
    font-size:0 /* truco por el uso de inline-block*/
 }

 li {
    display: inline-block;

    position:relative;

    text-align: center;
    font-family: 'Open Sans';
    font-size: 100%;


    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    background-color: aliceblue;
 }

@media  screen and (max-width:648px) {
    li{
        display: block;

        font-size: 20px;
        text-align: center;
        font-family: 'Open Sans';
        margin: 0%;
        padding: 0%;
        background-color: #ffffff ;
    }

}


ul ul {
    position: absolute;
    display: none;
 }
 ul ul li {
    display: block;
    width: 170%;
    margin: 15%;
    padding: 10%;
 }
 ul li:hover ul {
    display:block;
 }

/*fin barra de navegacion*/

/*fin header/


/*inicio del body*/

body{
    font-family: 'Open Sans';
}
        
/*comienzo parallax imagen/video principal*/
.parallax {
    grid-area: parallax;

    background-image: url("../assets/img/colaBallena.jpg");

    height: 500px;

    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;

      padding: 50px 30px;
      margin-bottom:0px;
}
/*fin parallax imagen principal*/


/*inicio fotos excursiones*/
.excursionesDisponibles {
    width: 100%;
}

.excursionesDisponibles .subtitulo {
    width: 100%;
    height: 5rem;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    background-image: linear-gradient(to right, #213aa1 , #2557b6, #1177e5);

}

.excursionesDisponibles .cards {
    grid-area: cards;
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    background-image: linear-gradient(to right, #213aa1 , #2557b6, #1177e5);
}

.excursionesDisponibles .cards a{
    overflow: hidden;
    width: 20%;
}

.excursionesDisponibles .cards a img{
    max-width:100%;
}

@media  screen and (max-width:648px) {
    .excursionesDisponibles .cards{
        flex-direction: column;
        align-content: space-evenly;
        align-items: center;
        height: 100vh;
    }

    .excursionesDisponibles .cards a{
        overflow: hidden;
        width: 100%;
    }

    .excursionesDisponibles .cards a img{
        max-width:100%;
    }
}

/*fin fotos excursiones */

/*inicio footer*/
footer{
    grid-area: footer;
    border: 1px solid rgb(255, 255, 255);
    background-image: linear-gradient(to right, #213aa1 , #2557b6, #1177e5);
    display: flex;
    height: 5rem;
    display: flex;
    flex-direction: row;
}

footer {
    display: flex;
    align-items: center;
    font-size: medium;
    font-weight: bold;
}
/*fin footer*/

/*fin del del body*/